.btn{
    font-size: 14px;
    border: transparent;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;

    &.btn--gradient {
        background: linear-gradient(-5deg,$color-primary, $color-secondary);
        border-radius: 30px;
        padding: 18px 0px;
        width: 218px;
        display: block;
        margin: 0 auto;
        color: white;
        margin-top: 23px;
        @include box-shadow($shadow-color);
        &:hover{
            @include box-shadow(darken($shadow-color, 10));
            background: linear-gradient(-5deg,lighten($color-primary, 5), lighten($color-secondary, 5));
        }
    }
    &.btn--like{
        background-color: transparent;
        height: 30px;
        width: 30px;
        margin-right: 30px;
        .PlainHearth{
            fill: transparent;
            transition: fill .4s;
            &:hover{
                fill: red;

            }
        }
        .EmptyHearth{
            fill: red;
        }
    }
}