footer{
    padding: 20px;
    background-color: rgb(53, 53, 53);
    a{
        display: block;
        margin:7px;
        color: white;
        font-size: 14px;
        i{
            margin-right: 8px;
        }
    }
}