.list{
    list-style: none;
    padding: 10px 0;
    
    &.list__step{
        @media screen and (min-width: 1034px){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;
        }
        @media screen and (min-width: 1035px){
            justify-content: space-arround;
            max-width: 1400px;
            margin: 0 auto;
        }
        
        li{

            font-size: 14px;
            padding: 25px 0;
            width: 100%;
            margin: 12px auto;
            background-color: rgb(246, 246, 246);
            border-radius: 20px;
            @media screen and (max-width: 1035px){
                width: 100%;
            }
            @include box-shadow;
            i{
                margin: 0 25px 0 33px;
            }

            &::before{
                background-color: $color-primary;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                line-height: 24px;
                text-align: center;
                display: inline-block;
                margin-left: -12px;
                color: white;
            }
            &:nth-child(1)::before{
                content: '1';
            }
            &:nth-child(2)::before{
                content: '2';
            }
            &:nth-child(3)::before{
                content: '3';
            }
        }
        
    }

    &.list__restaurant{
        @media screen and (min-width: 1035px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
        }
        li{
            border-radius: 13px;
            background-color: white;
            margin-bottom: 20px;
            @include box-shadow;
            & img{
                height: 175px;
                width: 100%;
                object-fit: cover;
                background-color: red;
                border-radius: 13px 13px 0 0;
            }
            & a >div{
                margin-left: 12px;
                padding: 10px 0;
                display: flex;
                & .list.list__restaurant__info{
                    flex: 1;
                    h2{
                        font-size: 14px;
                        font-weight: bold;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 100;
                    }
                    
                }
                & button{
                    width: 40px;
                    margin-right: 20px;
                }
            }
        }
    }

    &__menu--heading{
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 12px;
        font-size: 14px;
        text-transform: uppercase;
        span{
            padding-bottom: 3px;
            border-bottom: solid 2px $color-tertiary;
        }
    }

    &.list__menu{
        padding: 0 12px;
        li{
            height: 70px;
            background-color: white;
            border-radius: 12px;
            margin: 12px 0;
            display: flex;
            .list__menu__info{
                flex: 1;
                padding: 10px;
                div{
                    margin-top: 10px;
                    flex: 1;
                    display: grid;
                    grid-template-columns: 3fr 1fr;
                    .ingredients{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 14px;
                        flex: 1;
                    }
                    .prix{
                        display: inline-block;
                        margin-right: 10px;
                        text-align: right;
                    }
                }
                &:hover + .list__menu__check{
                    width: 80px;
                }
            }
            .list__menu__check{
                background-color: $color-tertiary;
                font-size: 30px;
                width: 0px;
                overflow: hidden;
                line-height: 70px;
                text-align: center;
                transition: width 0.4s;
                border-radius: 0 12px 12px 0;
                color: white;
                cursor: pointer;
                &:hover{
                    width: 80px;
                }
            }
        }
    }
}